@charset utf-8;

.container-fluid {
	height: 300px;
	background: #539e12;
}
.title {
	padding-top: 20px;
	padding-bottom: 20px;
}
.text-center {
	font-family: 'Microsoft YaHei';
	color: #fff;
}
.title h3 {
	margin-top: 30px;
}
.nav-menu {
	padding-top: 60px;
}
.nav li a {
	color: #fff;
}
.nav li a:hover {
	background: #464141;
}
.nav li a:focus {
	background: #464141;
}