<header>
  <div class="container-fluid header">
    <div class="row title">
      <div class="col-md-12">
        <h1 class="text-center"><span class="glyphicon glyphicon-pencil"></span> {{ site.title }}</h1>
        <h3 class="text-center">{{ site.title_description }}</h3>
      </div>
    </div>
    <div class="row nav-menu">
      <div class="col-md-3 col-xs-12">
        <ul class="nav nav-pills">
          <li>
            <a href="#"><span class="glyphicon glyphicon-home"></span> Home</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th-list"></span> Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>